@import "../../../Styles/variables";

$page-width: 600px;

%block-sizing{
  width: $page-width;

  @media screen and (max-width: $page-width){
    width: 100%;
    padding: 2em;
    box-sizing: border-box;
  }
}

.email-entry-done {
  display: none;
  &.true {
    display: block;
    line-height: 1.3em;
    margin: auto;
    text-align: center;
    padding: 3em 2em;

    @extend %block-sizing;

  }
  &.false {
    display: none;
  }
}

.reset-password {
  &.true {
    display: none;
  }
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3em;

  @media screen and (max-width: $page-width){
    padding: 0;
  }

  .error {
    display: none;
    &.invalid-email,
    &.user-not-found {
      display: block;
      color: red;
    }
  }

  .reset-password-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    @extend %block-sizing;
    
    .reset-password-form-label{
      line-height: 1.2em;
    }

    input {
      width: 80%;
      padding: 1.5em;
      margin: 2em 0;
      display: inline-block;
      border: 1px solid $grey-color1;
      border-radius: $border-radius;
      box-sizing: border-box;
      text-align: center;

      @media screen and (max-width: $page-width){
        width: 100%;
      }

      &:focus {
        outline: none !important;
        border: 2px solid $main-theme-color;
      }
    }
  }
}
