//general colors 
$white-color: white;
$grey-color1: #cccccc;
$grey-color2: #41494b;
$grey-color3: #231f20;
$black-color: black;
$orange-color: orange;

//theme colors
$dark-theme-color: #46537c;
$clear-theme-color: #51c2ec;
$main-theme-color: #28c2ce;

//general vars
$border-radius: 5px;
$default-transition-time: .5s;
$page-padding: 4vw;
$mobile-break-point: 900px;
$max-width-section: 1650px;
$min-page-height: calc(100vh - 318px);