@import "../../../Styles/variables";
@import "../../../Styles/placeholders";

.register {
  @extend %default-page;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .store-title {
    width: 100%;
    font-size: 1.5em;
    line-height: 1.2em;
    text-align: center;
  }

  .place-address {
    padding: 10px;
    background: $white-color;
    border-radius: $border-radius;
    margin: 5px;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    
    &:focus {
      outline: none !important;
      border: 2px solid $main-theme-color;
    }
  }

  .invalid-form,
  .email-already-used {
    display: none;
    background-color: red;
    color: $white-color;
    padding: 1em;
    margin-top: 1em;
    border-radius: $border-radius;
    text-align: center;
    line-height: 1.2em;

    &.valid {
      display: none;
    }
    &.invalid {
      display: block;
    }
  }

  .validEmail,
  .validPasswordConfirmation,
  .validPassword {
    border: 1px solid green;
  }

  .invalidEmail,
  .invalidPasswordConfirmation,
  .invalidPassword {
    border: 1px solid red;
  }

  .register-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    padding: 0 2em;
    box-sizing: border-box;
  }

  .password-rules {
    margin: 0 0 1em 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;

    .password-rules-description{
      width: 100%;
    }

    .password-rules-item{
      padding: .25em .5em;
      margin: .25em;
      border-radius: $border-radius;
      width: fit-content;
      font-size: .9em;
      color: $white-color;

      svg{
        margin-right: .25em;
      }
    }

    .lowercase-valid,
    .uppercase-valid,
    .number-valid,
    .lenght-valid {
      &.true {
        background-color: green;
      }
      &.false {
        background-color: darken($grey-color1, 10%);
      }
    }
  }

  .recaptcha {
    padding: 10px;
    display: flex;
    justify-content: center;
  }

  .custom-button{
    width: 100%;
    box-sizing: border-box;
    margin: 1em 0;
  }

}
