.no-product {
  text-align: center;
}

.brand {
  border: 1px solid #ededed;
  width: fit-content;
  width: -moz-fit-content;
  margin: auto;
  margin-top: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.thin-border {
  margin-top: 50px;
  margin-bottom: 25px;
  border-top: 2px solid #ededed;
  margin-left: 10%;
  margin-right: 10%;
}

.brand-content {
  margin-bottom: 5%;
}

.img-logo {
  height: 200px;
  width: 200px
}